<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>

    <div style="margin-top: 40px;">

        <button onclick="window.location.href='/';">Home</button>
        <button onclick="window.location.href='http://127.0.0.1:8080/admin/auth/user/';">Medical Coder</button>
        <button onclick="window.location.href='/TaskAllocatedUserWise';">Task Allocated User Wise</button>
        <button onclick="window.location.href='/MedicalChartListWithCurrentStatus';">Medical Chart List With Current Status</button>
        <button onclick="window.location.href='/firstTimeAssingment';">First Time Assingment</button>
        <button onclick="window.location.href='/resetStatus';">Reset Status</button>
    </div>
    <h1>Hello, welcome to Medical Task Assignment app</h1>
    

</body>
</html>